<!doctype html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

  <link rel="shortcut icon" type="image/png" href="images/i-am-devops.png">
  <title>{{ page.title }}</title>

  <link rel="stylesheet" href="dist/reset.css">
  <link rel="stylesheet" href="dist/reveal.css">
  <link rel="stylesheet" href="dist/theme/night.css">

  <!-- Theme used for syntax highlighted code -->
  <link rel="stylesheet" href="plugin/highlight/monokai.css">

</head>

<body>
  <div class="reveal">
    <div class="slides">
      {{ content }}
    </div>
  </div>

  <script src="dist/reveal.js"></script>
  <script src="plugin/notes/notes.js"></script>
  <script src="plugin/markdown/markdown.js"></script>
  <script src="plugin/highlight/highlight.js"></script>

  <script>
    /***** Pulling custom remote control out in favor of RevealNotes *****/
    // const controlChannel = new BroadcastChannel('controller');
    // let remoteSlide = { indexh: -1, indexv: -1 };

    let autoAdvanceTime = parseInt('0{{ page.auto-advance-time }}');
    let defaultTiming = false;
    if (autoAdvanceTime > 0) {
      defaultTiming = autoAdvanceTime / 1000;
    }

    Reveal.initialize({
      hash: true,
      autoSlide: autoAdvanceTime,
      autoSlideStoppable: false,
      defaultTiming: defaultTiming,
      plugins: [ RevealHighlight, RevealNotes ],
      history: true
    });

    // Reveal.addEventListener('slidechanged', function (event) {
    //   if (remoteSlide.indexh !== event.indexh || remoteSlide.indexv !== event.indexv) {
    //     remoteSlide = { indexh: -1, indexv: -1 };
    //     controlChannel.postMessage({
    //       "indexh": event.indexh,
    //       "indexv": event.indexv
    //     });
    //   }
    // });
    // controlChannel.onmessage = function (event) {
    //   remoteSlide = event.data;
    //   Reveal.slide(event.data.indexh, event.data.indexv);
    // }
  </script>
</body>

</html>